.*
!.gitignore
!.dockerignore
venvDev*/*
__pycache*
htmlcov
pyaviso.egg-info/*
aviso-server/admin/aviso_admin.egg-info/*
aviso-server/rest/aviso_rest.egg-info/*
aviso-server/auth/aviso_auth.egg-info/*
aviso-server/monitoring/aviso_monitoring.egg-info/*
docs/build/*
