.*
!.gitignore
!.dockerignore
venv*/*
__pycache*
htmlcov
aviso.egg-info/*
server/admin/aviso_admin.egg-info/*
server/rest/aviso_rest.egg-info/*
server/auth/aviso_auth.egg-info/*
server/monitoring/aviso_monitoring.egg-info/*
tests/stress/*
server/auth/tests/*
Dockerfile
server/admin/Dockerfile
server/auth/Dockerfile
