<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Aviso - ECMWF Data Availability Notification Service</title>
    <link rel="stylesheet" type="text/css" href="static/style.css"/>
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="wide">
      <table>
        <tr>
            <th><img src="static/logo.png" alt="Aviso logo"></th>
            <th><h1>Aviso - ECMWF Data Availability Notification Service</h1></th>
      </tr>
      <tr>
            <td colspan="2">
                  ECMWF data notification service Aviso is currently limited to registered users only. 
                  <br>
                  Please contact <a href="https://www.ecmwf.int/en/about/contact-us">ECMWF Service Desk</a> for more details and for configuration instructions.
                  <br>
                  <br>
                  More info on the Aviso project can be found in:
                  <ul>
                        <li><a href="https://pyaviso.readthedocs.io/en/latest/index.html">User documentation</a></li>
                        <li><a href="https://github.com/ecmwf/aviso">GitHub project</a></li>
                  </ul>
            </td>
      </tr>
      </table>
    </div>
  </body>
</html>